@media screen and (max-width: 1367px)
  .nav
    &__item
      font-size: 12px
      margin-right: 0.3rem
  .contacts
    &__phone
      margin-right: 2rem
  .section-title
    &__text
      max-width: 24rem
  .footer
    &__map
      padding: 1.85rem 9rem
@media screen and (max-width: 1033px)
  .html
    font-size: 12px
  .nav
    &__item
      font-size: 12px
      margin-right: 0.3rem
  .contacts
    &__phone
      margin-right: 0.8rem
  .section-title
    &__text
      max-width: 24rem
@media screen and (max-width: 992px)
  .nav
    display: none
  .contacts
    &__button
      display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
    &__title
      font-size: 1.64rem
      line-height: 132.83%
  .swiper
    &-slide
      &__img
        margin: auto
        padding: 0
  .section
    &-title
      &__heading--primary
        text-align: center
      &__text
        min-width: 30rem
        text-align: center
        margin: auto
        margin-bottom: 3rem
      &__word
        display: inline-block
        text-align: center
        padding: 0
        margin: 0
        &::after
          display: none
  .footer
    &__map
      order: -2
      padding: 1.85rem 3rem
      max-width: 40.4rem
    &__title__heading
      margin-top: 2rem
      margin-bottom: 1.64rem
@media screen and (max-width: 760px)
  .nav
    display: none
  .section
    &-title
      &__text
        min-width: 21.78rem
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 158.48%
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .design
    background-color: $dark
    &__section-title
      color: $light
    &__card
      margin-bottom: 5.7rem
  .swiper
    &-slide
      &__img
        margin: auto
        padding: 0
        width: 100%
  .col-40
    width: 100%
  .col-60
    width: 100%
    order: -1
  .dark
    &-title
      &__heading--primary
        text-align: center
      &__text
        min-width: 15rem
        text-align: center
        margin: auto
        margin-bottom: 3rem
      &__word
        display: inline-block
        text-align: center
        padding: 0
        margin: 0
        &::after
          display: none
  .control
    padding-bottom: 0
    background-color: $dark
    &__section-title
      margin-bottom: 2.224rem
      margin-top: 0rem
    &__video
      max-width: 100%
      min-height: 14.78rem
    &__text
      max-width: 100%
      color: $light
      font-size: 14px
      line-height: 169.8%
      font-style: normal
      font-weight: normal
      margin: 0px 0px 28px 0px
      text-align: center
    &__form
      display: flex
      flex-direction: column
    &__label
      color: $secondary
    &__input
      color: #fffff
      font-size: 18px
      margin-bottom: 4rem
    &__policy
      color: $light
      font-size: 16px
      margin-bottom: 4.42rem
      margin-top: -3rem
    &__button
      order: 1
      margin-bottom: -2rem
      max-width: 24.28rem
      min-height: 3.64rem
      font-size: 15px
      align-self: center
  .projects
    padding-bottom: 0rem
@media screen and ( max-width: 640px)
  .hero
    &__button
      display: block
      margin-bottom: 1.85rem
      padding: 19px 70px 19px 70px
      margin-right: 0
  .button--outline
    padding: 19px 85px 19px 86px
    margin: 0
    &__title
      font-size: 1.4rem
    &__text
      font-size: 1.28rem
      line-height: 135.84%
  .footer
    background: $dark
    &__title
      font-size: 1.42rem
      line-height: 2rem
      text-align: center
      &__heading
        max-width: 100%
        padding: 0
    &__wrap
      background-color: $dark
      margin-top: 0px
      padding: 0px
    &__menu
      display: none
    &__button
      padding: 1.357rem 9rem
      max-width: 100%
    &__container
      padding-bottom: 2.714rem
    &__map
      padding: 1.85rem 0rem
      max-width: 100%
  .design
    background: $dark
    padding-bottom: 4.28rem
  .section--dark
    background: $dark
    padding: 0px
  .projects
    padding-bottom: 0rem
    padding-top: 60px
  
@media screen and (max-width: 570px)
  .section
    &__title
      &__description
        max-width: 21.86rem 
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem 
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
      line-height: 135.84%
    &__button
      display: block
      margin-bottom: 1.85rem
      z-index: 3
    &::after
      display: none
  .section
    &-title
      &__heading--primary
        text-align: center
      &__word
        display: block
      &__text
        text-align: center
        margin: auto
        margin-bottom: 3rem
  .projects
    padding-bottom: 0rem
  .control
    &__button
      padding: 1.357rem 8rem
    

 
 
  
        
      
  
  



 
     

    