@media screen and ( max-width: 1200px)
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px)
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
    &__title
      font-size: 1.64rem
      line-height: 132.83%
  .section
    &-title
      &__text
        max-width: 25rem
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .design
    background-color: $dark
    &__section-title
      color: $light
    &__card
      margin-bottom: 5.7rem
  .swiper
    &-slide
      &__img
        margin: auto
        padding: 0
        width: 100%
  .col-40
    width: 100%
  .col-60
    width: 100%
    order: -1
  .section
    &-title
      &__heading--primary
        text-align: center
      &__text
        min-width: 19rem
        text-align: center
        margin: auto
        margin-bottom: 3rem
      &__word
        display: inline-block
        text-align: center
        padding: 0
        margin: 0
        &::after
          display: none
@media screen and ( max-width: 570px )
  .section
    &__title
      &__description
        max-width: 21.86rem 
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem 
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
      line-height: 135.84%
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
      z-index: 3
    &::after
      display: none
  .section
    &-title
      &__heading--primary
        text-align: center
      &__word
        display: block
      &__text
        text-align: center
        margin: auto
        margin-bottom: 3rem
        

 
 
  
        
      
  
  



 
     

    