.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
  padding-top: 3rem
  &__wrap
    background-color: $black
    max-width: 63.07rem
    margin: auto
    margin-top: -20rem
    margin-bottom: 3.714em
    padding: 2.5rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 1.43rem
    line-height: 2rem
    text-align: center
    margin-top: 0rem
    margin-bottom: 3.17rem
  &__input
    &--light
      outline: none
      &::placeholder
        color: #ffffff
  &__form
    display: flex
    flex-wrap: wrap
    max-width: 37.142rem
    margin: auto
    justify-content: space-between
  &__input
    padding-top: 0.3rem
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45% 
      margin-bottom: 3rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2rem
  &__policy
    flex-basis: 100%
    margin-bottom: 3.7rem
  &__button
    margin: auto
    padding: 1.285rem 4.785rem
  &__menu
    background-color: $dark
    padding: 4.285rem 0